M03-PROGRAMACION/__pycache__/datos.cpython-312.pyc
M03-PROGRAMACION/__pycache__/funciones.cpython-312.pyc
M03-PROGRAMACION/__pycache__/parametros.cpython-312.pyc
M03-PROGRAMACION/__pycache__/playGame.cpython-312.pyc
M03-PROGRAMACION/__pycache__/parametros.cpython-312.pyc
M03-PROGRAMACION/__pycache__/parametros.cpython-312.pyc
