* {
    box-sizing: border-box;
}
h2{
    padding: auto;
    display: flex;
    text-align: left;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(1, 65, 7);
}

header {
    background-color: rgb(1, 65, 7);
    display: flex;
    font-size: 1em;
}

header .logo {
    margin: 0 25px;
    padding: 15px 20px;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 0.5em;
    font-family: sans-serif;
    display: flex;
}

header .logo img{
    height: 50px;
    margin-right: 10px;
}

header .contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: center;
    text-align: right;
}

header a {
    padding: 10px 22px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

header a:hover {
    color: goldenrod;
}

#reglas .contenedor{
    background-color: rgb(243, 241, 241);
    padding: 50px 12px;
    margin-bottom: 50px;
    align-content: center;
}

#consejos .contenedor {
    background-color: rgb(243, 241, 241);
    padding: 50px 12px;
    margin-bottom: 50px;
    align-content: center;
}

.fila {
    display: flex;
    align-items: center;
    gap: 20px;
}


.img-contenedor img { /* chequea para que el tamaño de la imagen vaya acorde al texto */
    width: 300px; 
    height: auto;
    border-radius: 10px; 
}

.texto h2 {
    margin: 0;
    color: rgb(1, 65, 7);
}

.texto h4 {
    color: rgb(100, 100, 100);
}

footer {
    background-color: rgb(1, 65, 7);
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}

footer p {
    color: white;
}

.color-acento {
    color: rgb(185, 130, 27);
}


/* Agregar Media */



